.backdrop
{
	position: absolute;
	width: 100vw;
	height: 100vh;

	background-color: #00000050;

	z-index: 10;
	animation: blur-in 1s forwards;
}

@keyframes blur-in {
	from {
		backdrop-filter: blur(0px);
	}
	to {
		backdrop-filter: blur(3px);
	}
}

@property --angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: true;
}

@keyframes spin {
	from {
		--angle: 0deg;
	}
	to {
		--angle: 360deg;
	}
}
.card
{
	position: absolute;

	padding: 1em;

	left: 50%;
	top: 50%;

	translate: -50% -50%;

	margin: auto auto;

	width: 300px;
	height: 300px;

	background-color: gray;

	border-radius: 30px;

	z-index: 100;
	transform-style: preserve-3d;

	animation: 3s spin linear infinite;
}

.card::before, .card::after
{
	content: '';

	position: absolute;

	width: 100%;
	height: 100%;

	left: 50%;
	top: 50%;

	translate: -50% -50%;
	transform: translateZ(-1px);

	padding: 3px;
	border-radius: 30px;

	z-index: -10;

	background-image: conic-gradient(from var(--angle), #ff4545, #edd056, #00ff99, #006aff, #ff0095, #ff4545);

}

.card::before
{
	filter: blur(10px);
}

.content
{
	width: 100%;
	height: 100%;
}