[submodule "GlitchyEngine/vendor/directx"]
	path = GlitchyEngine/vendor/directx
	url = https://github.com/aharabada/directx-beef.git
[submodule "vendor/lodepng-beef"]
	path = vendor/lodepng-beef
	url = https://github.com/aharabada/lodepng-beef.git
[submodule "GlitchyEngine/vendor/freetype"]
	path = GlitchyEngine/vendor/freetype
	url = https://github.com/aharabada/FreeType-beef.git
[submodule "GlitchyEngine/vendor/gltf"]
	path = GlitchyEngine/vendor/gltf
	url = https://github.com/aharabada/cgltf-beef.git
[submodule "GlitchyEngine/vendor/msdfgen"]
	path = GlitchyEngine/vendor/msdfgen
	url = https://github.com/aharabada/msdfgen-beef.git
[submodule "GlitchyEngine/vendor/imgui"]
	path = GlitchyEngine/vendor/imgui
	url = https://github.com/aharabada/ImGui_GlitchyEngine.git
[submodule "GlitchyEngineHelper/vendor/xxHash"]
	path = GlitchyEngineHelper/vendor/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "GlitchyEngine/vendor/bon"]
	path = GlitchyEngine/vendor/bon
	url = https://github.com/EinScott/bon.git
[submodule "GlitchyEngineHelper/vendor/DirectXTK"]
	path = GlitchyEngineHelper/vendor/DirectXTK
	url = https://github.com/microsoft/DirectXTK.git