[submodule "GlitchyEngine/vendor/directx"]
	path = GlitchyEngine/vendor/directx
	url = https://github.com/aharabada/directx-beef.git
[submodule "GlitchyEngine/vendor/imgui-beef"]
	path = GlitchyEngine/vendor/imgui-beef
	url = https://github.com/aharabada/imgui-beef
[submodule "GlitchyEngine/vendor/DirectXTK"]
	path = GlitchyEngine/vendor/DirectXTK
	url = https://github.com/aharabada/DirectXTK-beef.git
[submodule "vendor/lodepng-beef"]
	path = vendor/lodepng-beef
	url = https://github.com/aharabada/lodepng-beef.git
[submodule "GlitchyEngine\\vendor\\freetype"]
	path = GlitchyEngine\\vendor\\freetype
	url = https://github.com/aharabada/FreeType-beef.git
[submodule "GlitchyEngine/vendor/freetype"]
	path = GlitchyEngine/vendor/freetype
	url = https://github.com/aharabada/FreeType-beef.git
[submodule "GlitchyEngine/vendor/gltf"]
	path = GlitchyEngine/vendor/gltf
	url = https://github.com/aharabada/cgltf-beef.git
