BeefSpace_User.toml

build/
.vs/
recovery/
vendor/directx
imgui.ini
GlitchyEditor/settings.bon
GlitchyEditor/MonoDebugger.log

# Ignore files in build-directory of ScriptCore
GlitchyEditor/Resources/Scripts/*

.cache
generated
